body
{
	font-family: arial,sans-serif;
}
header
{
	font-size: small;
	display: flex;
	justify-content: flex-end;
}
.GmailImage
{
	color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.GmailImage:hover
{
	opacity: .85;
    text-decoration: underline;
}
.Menu
{
	opacity:.70;
}
.Menu:hover
{
	opacity:1;
}
.Connexion
{
	color: #fff;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	font-weight: bold;
	outline: none;
	text-decoration: none;
	display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}